<% content_for(:title, "#{@cocktail.name} Cocktail") %>

<div class="container">
  <!-- @cocktail defined in `def show` -->
  <h1><%= @cocktail.name %></h1>
  <h2>The <%= @cocktail.name  %> cocktail has <%= @cocktail.doses.count %> dose<%= @cocktail.doses.count > 1 ? "s" : ""%> and <%= @cocktail.ingredients.count %> ingredient<%= @cocktail.ingredients.count > 1 ? "s" : ""%> </h2>

  <ul>
    <!-- @cocktail.doses => because of `has_many :doses` -->
      <%= "-------------------------------------" %>

    <% @cocktail.doses.each do |dose| %>
      <!-- dose.ingredient => because of `belong_to :ingredient` -->
       <li><strong>Ingredients: </strong> <%= dose.ingredient.name %></li>
      <li><strong>Doses: </strong><%= dose.description %></li>
      <%= "-------------------------------------" %>
    <% end %>
  </ul>
      <br>
      <br>
  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail.id), class: "btn btn-success"  %>

  <!-- check `rails routes` to know -->

<%= link_to "Homepage", cocktails_path, class: "btn btn-success" %>

<%= link_to "Delete", cocktail_path(@cocktail.id), class: "btn btn-success",
      method: :delete,
      data: { confirm: "Are you sure?" } %>
